  
$maincolor: rgba(195, 199, 221, 0.568);
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 2;
  justify-content: center;
  background-color: $maincolor;
}

section {
  max-width: 800px;
  margin: 50px auto;
}